/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src:
    url('assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('assets/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
}

a {
  @apply font-semibold border-b-2 border-emerald-500 hover:text-emerald-500;
}

.dialog {
  z-index: 1000;
}

.model {
  z-index: 2000;
}

.big-green-button {
  @apply flex w-full justify-center disabled:bg-emerald-300 dark:disabled:bg-emerald-900 rounded-md bg-emerald-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-emerald-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600;
}

.global-input {
  @apply block w-full rounded-md border-0 py-1.5 px-3 shadow-sm ring-1 ring-inset bg-white dark:bg-slate-800 ring-slate-200 dark:ring-slate-700 placeholder:text-gray-500 placeholder:font-light focus:outline-none focus:ring-2 focus:ring-inset focus:ring-emerald-600 sm:text-sm sm:leading-6
}